header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

header a {
    text-decoration: none;
    color: black;
}

header h3:hover {
    color: black;
}